/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
  background-color: #EEEEEE;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1{

  font-family: 'Nova Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #353535;
  padding-bottom:1em;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.renter-login {
  display: flex;
  font-family: 'Nova Square', monospace;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 745px;
  
  background: #163245;
  border-radius: 20px;
}
.renter-div{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.nav-link{
  display: flex;
  width:97%;
  justify-content: flex-end;
}
.nav-link a{
  color: #000000;
}
.renter-board{
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Nova Square', monospace;
}
.item-card p{
  background: #163245;
  color: #F7F7F7;
  
}
.renter-board h3{
  margin-top:4em;
}
.header-renter-board{
  display: flex;
  font-family: 'Nova Mono', monospace;
  justify-content: space-between;
  background: #163245;
  color: #F7F7F7;
}
.item-card{
  margin:2em;
  width: 25%;
  border-radius: 10%;
  overflow: hidden;
}
.renter-board a{
  text-decoration: none;
  position: relative;
  padding:.5em;
  margin: 2em 1em 0;
  float:right;
  background: #80ED99;
  width:13%;
  border-radius: 5.1875em;
}
.renter-items{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.renter-div h1{
  display:flex;
  width:100%;
  justify-content: space-around;
}
.renter-login h2{
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  padding:.7em;
  color: #FFFFFF;
}
.renter-input{
  display: flex;
  flex-direction: column;
}

.login-btn{
  width: 100%;
  background: #80ED99;
  border-radius: 20px;
}
.sign-up{
  width:100%;
  text-align: right;
  font-size: 20px;
}
.sign-up a{
  text-decoration: none;
  color: #80ED99;
}
.nav-link a{
  text-decoration: none;
  display: flex;
  justify-content: right;
  align-items: right;
}